@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-gold-gradient: #EFBF04; 
  --color-secondary: #131418;
  
  /* Perfectly blended 3-point gold */
  --image-gold-gradient: linear-gradient(
    135deg, 
    #B8860B 0%,   /* Deep Golden Rod */
    #F1D38A 50%,  /* Soft Silk Highlight */
    #8B6508 100%  /* Burnished Bronze */
  );
}

@utility text-primary {
  background-image: var(--image-gold-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* Adds sharpness to thin text */
  -webkit-text-fill-color: transparent; 
}

@utility bg-primary {
  background-image: var(--image-gold-gradient);
}